body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bdd5ea;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #495867;
    color: #f7f7ff;
    padding: 15px;
    text-align: center;

}
.logo{
    font-size: 15px;
    font-weight: bold;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-links li a{
    color: #f7f7ff;
    text-decoration: none;
    font-size: 14px;
}
.nav-links li a:hover{
    text-decoration: underline;
}

/* main section */
.main{
    display: flex;
   justify-content: center;
  width: 100%;

    text-align: center;
    margin-top: 40px;

}
.btn{
    padding: 10px 20px;
    background-color: #f76c6c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.main-content{
  max-width: 800px;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;

}
.main-content h1{
    font-size: 36px;
    margin-bottom: 20px;
}
.btn{
    padding: 10px 20px;
    background-color: #f76c6c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background-color: #ff4c4c;
}

.main-image{
    width: 40%;
align-items: center;
    justify-content: center;
    box-shadow: 0px

}
.main-image img{
    padding-bottom: 20px;
    width: 300px;
    height: 400px;
    border-radius:10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}
/* about section */
.about{
    padding: 50px;
    background-color: #f1d2d2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
}
.about-content h2{
    font-size: 28px;
    margin-bottom: 20px;
}
.skills{
    text-align: center;
}
.skills-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skill{
    background-color: #495867;
    color: #f7f7ff;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 16px;
}
.contact{
    margin-top: 80px;
    padding: 50px;
    background-color:rgb(238, 225, 227);
    text-align: center;
}
.footer{
    background-color:white;
    color:black;
    text-align: left;
}